Repository onlogic/Pykarbon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_dev, deploy_staging, deploy_production

test_dev:
  stage: test
  script:
  - tox -e py35
  tags:
  - k300

deploy_staging:
  stage: deploy
  when: on_success
  before_script:
  - pip install twine
  variables:
    TWINE_USERNAME: $PYPI_USER
    TWINE_PASSWORD: $TEST_PYPI_PASS
  script:
  - twine upload --repository-url https://test.pypi.org/legacy/ dist/*
  tags:
  - k300

deploy_production:
  stage: deploy
  when: on_success
  before_script:
  - pip install twine
  variables:
    TWINE_USERNAME: $PYPI_USER
    TWINE_PASSWORD: $PYPI_PASSWORD
  script:
  - twine upload dist/*
  tags:
  - k300

📝 quickstart.rst: Change way pip is invoked
  doc/source/contents/quickstart.rst
Due: none

📝 quickstart.rst: Minor changes to wording
  doc/source/contents/quickstart.rst
Due: none

📝 README.rst: Suggest more secure linux serial access
  README.rst
Due: none

📝 README.rst: Small rst syntax improvements
  README.rst
Due: none

Pin pyserial dependency to version 3.4.
  requirements.txt
  setup.py
Due: deploy_staging, deploy_production

Minor fixes for typos in documentation
  README.rst
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
Due: none

Update version to 1.1.8
  setup.py
Due: deploy_staging, deploy_production

Update pykarbon documentation
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
  doc/source/index.rst
Due: none

Resolve "Karbon DIO Pinout Incorrect"
  pykarbon/can.py
  pykarbon/terminal.py
  test/test_can.py
  test/test_hardware.py
  test/test_pykarbon.py
  test/test_terminal.py
Due: test_dev

Update setup.py
  setup.py
Due: deploy_staging, deploy_production

Resolve "Cannot Send Data with Leading '00'"
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
  doc/source/index.rst
  pykarbon/can.py
  pykarbon/terminal.py
  setup.py
  test/test_can.py
  test/test_hardware.py
  test/test_pykarbon.py
  test/test_terminal.py
Due: test_dev, deploy_staging, deploy_production

Fixed typo
  scripts/update_karbon_firmware
Due: none

Keep registry threads asleep until data arrives
  pykarbon/can.py
  pykarbon/terminal.py
Due: test_dev

Fix DIO actions
  pykarbon/terminal.py
Due: test_dev

Allow multiple reactions on each DIO
  pykarbon/terminal.py
Due: test_dev

Use blocking queue operations
  pykarbon/can.py
  pykarbon/terminal.py
Due: test_dev

Limit size of queues
  pykarbon/can.py
  pykarbon/terminal.py
Due: test_dev

Update terminal.py
  pykarbon/terminal.py
Due: test_dev

Update index.rst
  doc/source/index.rst
Due: none

Fix bug which rendered Session.popdata() unusable
  pykarbon/terminal.py
Due: test_dev

Path conditions:
  test_dev: any of: test/*.py, pykarbon/*.py, tox.ini
  deploy_staging: any of: setup.py
  deploy_production: any of: setup.py
